@import "tailwindcss";

@layer base {
  html {
    overflow: hidden;
    height: 100%;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', Roboto, sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
    overflow: hidden;
    height: 100%;
    margin: 0;
  }
}